.page {
    background: #15353f;
    box-shadow: 0 4px 14px #17114b;
    color: #dddddd;
    border: 10px solid #15353f;
}

.info {
    margin-left: 100px;
    margin-right: 100px;
    background: #525a5d;
    box-shadow: 0 7px 10px #45526c;
    color: #dddddd;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #525a5d;
    font-size: 20px;
}

.up {
    text-align: center;
}

.up img {
    border-radius: 50%;
    height: 200px;
}

.down {
    text-indent: 30px;
}

.block1 {
    margin-left: 100px;
    margin-right: 100px;
}

ol>li {
    list-style: none;
    padding-left: 20px;
    position: relative;
    margin: 5px;
}

ol>li:before {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    color: #dddddd;
}

body {
    background: #393e46;
    margin: 0;
    padding: 0;
}

.conteiner img {
    height: 165px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 2px solid rgb(63, 121, 187);
}

.conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block3 h1 {
    text-align: center;
}

.conteiner figure {
    border: 3px solid rgb(63, 121, 187);
    border-radius: 11px;
    text-align: center;
    text-indent: 0;
}

.conteiner figure:hover {
    border: 3px solid rgb(117, 45, 211);
}