.page {
    background: #276678;
    box-shadow: 0 5px 10px #0a043c;
    color: #dddddd;
    border: 10px solid #276678;
}

.info {
    margin-left: 100px;
    margin-right: 100px;
    background: #1687a7;
    box-shadow: 0 7px 10px #aee1e1;
    color: #dddddd;
    border-radius: 10px;
    text-indent: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #1687a7;
    font-size: 20px;
}

.up {
    text-align: center;
}

.up img {
    border-radius: 50%;
    height: 200px;
}

.down {
    text-indent: 30px;
}

.block1 {
    margin-left: 100px;
    margin-right: 100px;
}

ol>li {
    list-style: none;
    padding-left: 20px;
    position: relative;
    margin: 5px;
}

ol>li:before {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    color: #dddddd;
}

body {
    background: #f8f1f1;
    margin: 0;
    padding: 0;
}