
.page {
    
    background: #222831;
    box-shadow: 0 5px 0 #6c7483;
    color:#dddddd;
    border-radius: 10px;
    border: 10px solid #222831;
    margin-top: 20px;
    margin-bottom:20px;
}

.info {
    margin-left: 100px;
    margin-right: 100px;
    background: #30475e;
    box-shadow: 0 5px 0 #546575;
    color:#dddddd;
    border-radius: 10px;
    text-indent: 30px;
    margin-top: 20px;
    margin-bottom:20px;
    border: 10px solid #30475e;
    font-size: 20px;
}

.up {
    text-align:center;
}

.down {
    text-indent: 30px;
}

.block1 {
    margin-left: 100px;
    margin-right: 100px;
}

ol > li{
    list-style: none;
    padding-left: 20px;
    position: relative;
    margin: 5px;
}

ol > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: #dddddd;
}

body {
    background-image: url(img/back.jpg);
    background-color: rgb(153, 215, 218);
}

