header {
    background-color: rgb(73, 120, 195);
    text-align: center;
}

.text_head {
    display: inline-block;
}

.text_head ul {
    padding-left: 0px;
}

.text_head li {
    list-style-type: none;
    float: left;
    margin-bottom: 11px;
}

.text_head a {
    font-size: 200%;
    margin: 50px;
    color: white;
}

.text_head ul a:hover {
    text-decoration: underline;
}

.header {
    font-size: 400%;
    color: white;
    padding: 100px;
}

.element_left ul {
    padding-left: 30px;
    float: left;
}

.element_left li {
    background-color: rgb(73, 120, 195);
    list-style-type: none;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px;
}

.element_left a {
    font-size: 250%;
    margin: 50px;
    color: white;
}

.text {
    padding-top: 6px;
    padding-left: 400px;
    padding-bottom: 50px;
}

.text p {
    font-size: 120%;
}

body {
    margin: 0;
}

footer {
    background-color: rgb(73, 120, 195);
}

.text_foot {
    display: inline-block;
    margin-left: 300px;
    text-align: center;
}

.text_foot ul {
    padding-left: 0px;
}

.text_foot li {
    list-style-type: none;
    float: left;
    padding-bottom: 20px;
}

.text_foot a {
    font-size: 200%;
    margin: 50px;
    color: white;
    padding: 100px;
}

.description_foot {
    margin-top: -30px;
    margin-left: 410px;
    display: inline-block;
    color: white;
}

.description_foot li {
    list-style-type: none;
}

.description_foot ul {
    float: left;
}

.description1 {
    margin-right: 200px;
}

.description2 {
    margin-right: 300px;
}

.description2 img {
    padding: 7px;
    width: 32px;
}

.description3 {
    margin-bottom: 60px;
}